<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wristcode.deliwala">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.apps.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.location.GPS_ENABLED_CHANGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.wristcode.deliwala.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wristcode.deliwala.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wristcode.deliwala.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wristcode.deliwala.LoginDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wristcode.deliwala.SelectLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wristcode.deliwala.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wristcode.deliwala.OTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wristcode.deliwala.NavDrawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.wristcode.deliwala.HomeActivity" />
        <activity android:name="com.wristcode.deliwala.ItemActivity" />

        <activity
            android:name="com.wristcode.deliwala.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.wristcode.deliwala.HotelListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".TagRestaurantsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.wristcode.deliwala.PaymentActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.wristcode.deliwala.AddAddressActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.wristcode.deliwala.LocationSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.wristcode.deliwala.AddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.wristcode.deliwala.OrderConfirmActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.wristcode.deliwala.OrderHistoryActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.wristcode.deliwala.OrderListActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.wristcode.deliwala.TrackActivity"
            android:label="@string/title_activity_track" />
        <activity
            android:name="com.wristcode.deliwala.AnimationScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wristcode.deliwala.HotelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name="com.wristcode.deliwala.extra.IncomingSMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>